//Inicio Inspirate
.inspirate{
    .titulo{
        font-family: $font-family-sans-serif;
        text-align: center;
        font-size: 25px;
        color: #572EE5;
        text-align: center;
        font-weight: bold;
        padding: 0px 45px;
        margin-bottom: 31px;
        min-width: 320px;
        line-height: 3.3rem;
        .purpura{    
            color: #50E3C2;      
        }
    }
    .contenedorImg{ 
        .imgAmigos{
            width: 273px;
            height: 130px;
            display: block;
            margin: auto;
        }
    }
    .buscadorMain{
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        margin-top: -5px;
        margin-bottom: 31px;
        .contenedorInputBu{
            .barraBuscar{
                background: #FFFFFF;
                border: 1px solid #572EE5;
                border-radius: 27px;
                width: 334px;
                height: 50px;
                font-family: $font-family-roboto;
                font-size: 16px;
                color: #000000;
                text-align: left;
                padding-left: 50px;
                position: relative;
                
            }
        }
        .contenedorSuBu{
            position: absolute;
            margin-top: 15px;
            margin-left: 280px;
            .buscarLupa{
                .imgLupa{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        
    }
    .pieBuscador{
        line-height: 25px;
        .titulo{
            font-family: $font-family-sans-serif;
            font-size: 16px;
            color: #572EE5;
            text-align: center;
            font-weight: bold;
        }
        .descripcion{
            font-family: $font-family-sans-serif;
            font-size: 14px;
            color: #572EE5;
            text-align: center;
            padding: 0px 75px;
            margin-top: -25px;
        }
    }
}
//Fin Inspirate

    //_____________________________________________
.bFavorit{
    // display: none;
    .headerFav{
        text-align: center;
        margin-top: 11px;
        .tituloFav{
            font-family: $font-family-sans-serif;
            font-size: 20px;
            color: #572EE5;
            line-height: 30px;
            font-weight: bold;
        }
    }
    .SinContentFav{
        text-align: center;
        margin-top: 109.3px;
        .descriptFav{
            font-family: $font-family-sans-serif;
            margin-top: 23.7px;
            margin-bottom: 190px;
            font-size: 22px;
            font-weight: bold;
            color: #50E3C2;
            line-height: 33px;
            padding: 22px;
            //padding: 0px 504.5px;
        }
    }
}
    //________________________________
.bMisGifos{
    // display: none;
    .headerMisG{
        text-align: center;
        margin-top: 11px;
        .tituloMisG{
            font-family: $font-family-sans-serif;
            font-size: 20px;
            color: #572EE5;
            line-height: 30px;
            font-weight: bold;
        }
    }
        
    .SinContentMG{
        text-align: center;
        margin-top: 109.3px;
        .descriptMisG{
            font-family: $font-family-sans-serif;
            margin-top: 23.7px;
            margin-bottom: 190px;
            font-size: 22px;
            font-weight: bold;
            color: #50E3C2;
            line-height: 33px;
            padding: 22px;
            //padding: 0px 532.5px;
        }
    }
}


//Modo Nocturno
body.modoNocturno{
    background-color: #37383C;
    .inspirate{
        .titulo{
            font-family: $font-family-sans-serif;
            text-align: center;
            font-size: 25px;
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;
            padding: 0px 45px;
            margin-bottom: 31px;
            min-width: 320px;
            line-height: 3.3rem;
            .purpura{    
                color: #50E3C2;      
            }
        }
        .contenedorImg{ 
            .imgAmigos{
                width: 273px;
                height: 130px;
                display: block;
                margin: auto;
            }
        }
        .buscadorMain{
            padding: 0px 20px;
            display: flex;
            justify-content: center;
            margin-top: -3px;
            margin-bottom: 31px;
            .contenedorInputBu{
                .barraBuscar{
                    background: transparent;
                    border: 1px solid #ffffff;
                    border-radius: 27px;
                    width: 334px;
                    height: 50px;
                    font-family: $font-family-roboto;
                    font-size: 16px;
                    color: #FFFFFF;
                    text-align: left;
                    padding-left: 50px;
                    position: relative;
                    
                }
            }
            .contenedorSuBu{
                position: absolute;
                margin-top: 15px;
                margin-left: 280px;
                .buscarLupa{
                    background-color: transparent;
                    .imgLupa{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            
        }
        .pieBuscador{
            line-height: 25px;
            .titulo{
                font-family: $font-family-sans-serif;
                font-size: 16px;
                color: #ffffff;
                text-align: center;
                font-weight: bold;
            }
            .descripcion{
                font-family: $font-family-sans-serif;
                font-size: 14px;
                color: #ffffff;
                text-align: center;
                padding: 0px 75px;
                margin-top: -25px;
            }
        }
    }
    //Fin Inspirate
    
        //_____________________________________________
    .bFavorit{
        // display: none;
        .headerFav{
            text-align: center;
            margin-top: 11px;
            .tituloFav{
                font-family: $font-family-sans-serif;
                font-size: 20px;
                color: #ffffff;
                line-height: 30px;
                font-weight: bold;
            }
        }
        .SinContentFav{
            text-align: center;
            margin-top: 109.3px;
            .descriptFav{
                font-family: $font-family-sans-serif;
                margin-top: 23.7px;
                margin-bottom: 190px;
                font-size: 22px;
                font-weight: bold;
                color: #50E3C2;
                line-height: 33px;
                padding: 22px;
                //padding: 0px 504.5px;
            }
        }
    }
        //________________________________
    .bMisGifos{
        // display: none;
        .headerMisG{
            text-align: center;
            margin-top: 11px;
            .tituloMisG{
                font-family: $font-family-sans-serif;
                font-size: 20px;
                color: #ffffff;
                line-height: 30px;
                font-weight: bold;
            }
        }
            
        .SinContentMG{
            text-align: center;
            margin-top: 109.3px;
            .descriptMisG{
                font-family: $font-family-sans-serif;
                margin-top: 23.7px;
                margin-bottom: 190px;
                font-size: 22px;
                font-weight: bold;
                color: #50E3C2;
                line-height: 33px;
                padding: 22px;
                //padding: 0px 532.5px;
            }
        }
    }
    
}

//Fin Modo Nocturno 
@media(min-width:1440px){
    .inspirate{
        .titulo{
            font-size: 35px;
            line-height: 50px;
            padding: 0px 453px;
            margin-bottom: 24px;
            margin-top: 56px;
        }
        .contenedorImg{ 
            .imgAmigos{
                width: 399px;
                height: 190px;
            }
        }
        .buscadorMain{
            padding: 0px 20px;
            margin-bottom: 73px;
            .contenedorInputBu{
                .barraBuscar{
                    width: 551px;
                    height: 50px;
                }
            }
            .contenedorSuBu{
                margin-left: 500px;
            }
        }
        .pieBuscador{
            .titulo{
                font-size: 18px;
                line-height: 25px;
            }
            .descripcion{
                font-size: 16px;
            }
        }
    }
        //_______________________________________
    .bFavorit{
        .headerFav{
            .tituloFav{
                font-size: 25px;
            }
        }
        .SinContentFav{
            .descriptFav{
                padding: 0px 504.5px;
            }
        }
    }
        //__________________________________________
    .bMisGifos{
        .headerMisG{
            .tituloMisG{
                font-size: 25px;
            }
        }
        .SinContentMG{
            .descriptMisG{
                padding: 0px 532.5px;
            }
        }
    }
}