.containerSliderCG{
    display: none;
    .sliderCG{
        position: relative;
        width: 795px;
        height: 520px;
        border-bottom: 6.9px solid #572EE5;
        margin: 0px 322.1px;
        .sliderIni, .sliderAcC, .sliderGbr, .sliderSGifo{
            position: absolute;
            opacity: 0;
            transition: opacity .5s;
        }
        .sliderIni{
            .containerCam{
                margin-left: 50px;
                margin-top: 50px;
                width: 688px;
                height: 390px;
                border: 1px solid #572EE5;
                .tituloIn,.tituloInColor{
                    //font-family: Montserrat-Bold;
                    font-size: 25px;
                    font-weight: bold;
                    text-align: center;
                    color: #572EE5;
                    line-height: 35px;
                    margin-top: 134px;
                    padding: 0px 70px;
                    .tituloInColor{
                        color: #50E3C2;
                        padding: 0;
                    }
                }
                .descripIn{
                    //font-family: Roboto-Regular;
                    font-size: 16px;
                    text-align: center;
                    color: #000000;
                    line-height: 29px;
                    padding: 0px 170px;
                }
            }
        }
        .sliderAcC{
            .containerCam{
                margin-left: 50px;
                margin-top: 50px;
                width: 688px;
                height: 390px;
                border: 1px solid #572EE5;
                .tituloAc{
                    //font-family: Montserrat-Bold;
                    font-size: 25px;
                    font-weight: bold;
                    color: #572EE5;
                    text-align: center;
                    line-height: 35px;
                    //padding-left: 170px;
                    margin-top: 134px;
                }
                .descripAc{
                    //font-family: Roboto-Regular;
                    font-size: 16px;
                    color: #000000;
                    text-align: center;
                    line-height: 28px;
                   // padding-left: 170px;
                }
            }
        }
        .sliderGbr{
            .containerCam{
                margin-left: 50px;
                margin-top: 50px;
                width: 688px;
                height: 390px;
                border: 1px solid #572EE5;
                .camGr{
                    width: 480px;
                    height: 320px;
                    background:#572EE5;
                    margin: 35px 104px;
                }
            }
            .containerBs{
                .BGrabarI,.BGrabarF,.BGrabarSG{
                    //font-family: Montserrat-Bold;
                    width: 127px;
                    height: 50px;
                    font-size: 13px;
                    font-weight: bold;
                    color: #572EE5;
                    letter-spacing: 0;
                    text-align: center;
                    padding: 16px 24px;
                    border: 1px solid #572EE5;
                    border-radius: 25px;
                    margin-left: 45%;
                    margin-top: 90px;
                }
                .containerBGrabarF,.containerBGrabarSG{
                    display: none;
                }
            }
        }
        .sliderSGifo{
            .containerCam{
                margin-left: 50px;
                margin-top: 50px;
                width: 688px;
                height: 390px;
                border: 1px solid #572EE5;
                .camGr{
                    width: 480px;
                    height: 320px;
                    background: #572EE5;
                    opacity: 0.6;
                    margin: 35px 104px;
                    
                }
                .containerTextDescrip{
                    .loaderText,.checkText{
                        //font-family: Montserrat-Bold;
                        font-size: 15px;
                        color: #0a0a0a;//corregir
                        text-align: center;
                        margin-top: -220px;
                    }
                    .checkText{
                        opacity: 0;
                    }
                }
                    
            }
        }
    }
    ul.sliderCG li:first-child{
        opacity: 1;
    }
    ul.sliderCG li:target{
        opacity: 1;
        z-index: auto;
    }
    .menuNum{
        position: relative;
        z-index: auto;
        text-align: center;
        margin-top: -85px;
    }
    .menuNum li{
        display: inline-block;
        text-align: center;
    }
    .menuNum li a{
        display: inline-block;
        padding-top: 3px;
        //font-family: Roboto-Medium;
        font-size: 18px;
        color: #572EE5;
        text-decoration: none;
        background: white;
        border: 1px solid #572EE5;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        margin: 25px;
    }
    .menuNum li a:active{
        background: #572EE5;
        color: #FFFFFF;
    }
        
    
}
